<%= simple_form_for @registration do |f| %>
  <%= f.abyme_for(:clients) do |abyme| %>
    <%= abyme.new_records %>
  <% end %>
  <%= f.abyme_for(:clients, button_text:"Ajouter une autre personne") %>
  <div class="submit-button-container">
    <%= f.submit "S'inscrire", class:'submit-button' %>
  </div>
<% end %>
