<!DOCTYPE html>
<html>
  <head>
    <title>InscriptionsTennis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url(<%= asset_url('image_intro.png')%>)">
    <div class="container" style="background-color:rgba(0,0,0,0.8); color:#EEEDED">
      <%= yield %>
    </div>
  </body>
</html>
